# --- 针对 native/electron 的部分 ---

# Node.js

native/electron/node_modules/
native/electron/package-lock.json

# 其它部分
native/electron/.idea
native/electron/dist
native/electron/dist/*
native/electron/*/.DS_Store
native/electron/.DS_Store
native/electron/npm-debug.log
native/electron/*.swp
native/electron/local.json
native/electron/mock/data_origin
native/electron/mock/data1
native/electron/mock/data2
native/electron/mock/dist
native/electron/mock/test_less
native/electron/mock/release

# electron 打包文件
native/electron/packaged/

# --- 针对 native/ionic 的部分 ---

# 【这里暂时并没有什么该忽略的 XD】

# --- 针对 scripts 的部分 ---

# // 有关 scripts：这些都是经过 Babel 转译后得到的 ES5 代码，其实本没有留下的必要，但仍留下来
# // 具体原因，请见：https://github.com/langyo/MCBBS-Client/issues/4

scripts/node_modules/

# --- 针对操作系统 Mac OS X 的部分 ----

.DS_Store